<template name = "card">
  <div class="ui card">
    <div class="image">
      <img src="/img/card.png" alt ="insert image here">
    </div>

    <div class="content">
      <a class="header">{{currentUser.profile.name}}</a>
      <div class="meta">
        <span class="date">You last spoke to {{currentUser.services.facebook.first_name}} [x] days ago.</span>
      </div>
    </div>

    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Add to list
    </div>
  </div>
</template>
