<!-- /* Step 1 */ -->
<template name="timeSelector">
  <div class="step1">
    <div class="ui grid container center aligned">
      <div class="ui spacer-small">
        <h3 class="ui inverted header">Step 1: What time are you free to chat?</h3>
        <div class="ui four buttons">
          <button class="ui inverted white button"><i class="mdi mdi-weather-sunset-up"></i>Morning</button>
          <button class="ui inverted white button"><i class="mdi mdi-weather-sunny"></i>Lunch</button>
          <button class="ui inverted white button"><i class="mdi mdi-weather-sunset-down"></i>Evening</button>
          <button class="ui inverted white button"><i class="mdi mdi-weather-night"></i>Late night</button>
        </div>
      </div>
    </div>
  </div>

</template>
