<template name="private">
    <!-- /* Step 1 */ -->
    <div class="step1">
      <div class="ui grid container">
        <div class="ui spacer-small">
          <h3 class="ui inverted header">Step 1: What time are you free to chat?</h3>
          <div class="ui four buttons">
            <button class="ui inverted white button"><i class="mdi mdi-weather-sunset-up"></i>Morning</button>
            <button class="ui inverted white button"><i class="mdi mdi-weather-sunny"></i>Lunch</button>
            <button class="ui inverted white button"><i class="mdi mdi-weather-sunset-down"></i>Evening</button>
            <button class="ui inverted white button"><i class="mdi mdi-weather-night"></i>Late night</button>
          </div>
        </div>
      </div>
    </div>

    <!-- /* Step 2 */ -->
    <div class="ui grid container">
    <!-- /* Search field */ -->
      <div class="spacer-small">
        <h3 class="ui header">
          Step 2: Who haven't you caught up with in a while?
        </h3>

        <div class="ui fluid input">
          <input type="text" placeholder="William Wordsworth">
          <button class="ui button">Search</button>
        </div>
      </div>

      <div class="ui three cards">
        <div class="ui card">
          <div class="image">
            <img src="/img/card.png" alt ="insert image here">
          </div>

          <div class="content">
            <a class="header">{{currentUser.profile.name}}</a>
            <div class="meta">
              <span class="date">You last spoke to {{currentUser.services.facebook.first_name}} [x] days ago.</span>
            </div>
          </div>

          <div class="ui bottom attached button">
            <i class="add icon"></i>
            Add to list
          </div>
        </div>

      </div>

    </div>
</template>
