<template name="private">
  {{> timeSelector}}

    <!-- /* Step 2 */ -->
    <div class="ui grid container center aligned">
    <!-- /* Search field */ -->
      <div class="spacer-small">
        <h3 class="ui header">
          Step 2: Who haven't you caught up with in a while?
        </h3>

        <div class="ui fluid input">
          {{> esInput index="everyone" placeholder="Search..." }}
          <button class="ui button">Search</button>
        </div>
      </div>

      <div class="row">
        {{> listitem}}

        <div class="ui middle aligned divided list">
          <h3>Search results</h3>
          {{#esEach index="everyone"}}
            <div class="item">
              <div class="right floated content">
                <div class="ui button" id="toggle">Add</div>
              </div>

              <img class="ui avatar image" src="/img/card.png">

              <div class="content">
                  <a href="#" class="header">{{name}}</a>
                  <div class="description">You've been friends since [x]</div>
              </div>

            </div>
          {{/esEach}}
        </div>
        {{#if listitem.checked}}
          It worked?!
        {{/if}}

      </div>

    </div>
</template>
