<template name="private">
  {{> timeSelector}}
    <!-- /* Step 2 */ -->
    <div class="ui grid container center aligned">
    <!-- /* Search field */ -->
      <div class="spacer-small">
        <h3 class="ui header">
          Step 2: Who haven't you caught up with in a while?
        </h3>

        <div class="ui fluid input">
          {{> esInput index="everyone" placeholder="Search..." }}
          <button class="ui button">Search</button>
        </div>
      </div>

      <!-- <div class="ui four cards">
        {{> card}}
      </div> -->

      {{> listitem}}

      {{#esEach index="everyone"}}
            <li>How about? {{name}}</li>
      {{/esEach}}
    </div>
</template>
